*{
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
img{
    width: 25px;
    height: 25px
}
.login-box{
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
    width: 600px;
    height: 400px;
    background-color: rgba(0, 0, 0, .5);
    border: 10px;
    padding: 20px 50px;
    border-radius: 20px;
    
}
.login-box h1{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}
.login-box .input-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: translateY(-35px);
}
.login-box .input-box .input-text{
    width: 100%;
    display: flex;
    justify-content: center;
}
.login-box .input-box .input-text span{
    color: white;
    font-size: 18px;
    margin-top: 20px;
}
.login-box .input-box .input-text input{
    border: 0;
    padding: 6px;
    border-bottom: 1px solid white;
    background-color: #ffffff00;
    color: #fff;
    margin-top: 20px;
    
}
.login-box .input-box .input-btn{
    display: flex;
    display:inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 25px;
    width: 100px;
    height: 35px;
    color: rgba(255,255,255,0.9);
    border: 1px solid rgba(192, 119, 91, 0.7);
    background: rgba(192, 119, 91, 0.5);
    border-radius: 10px;
    cursor: pointer;
}
.login-box .input-box .sign-up{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: white;
    font-size: 15px;
}
.login-box .input-box .sign-up{
    color: #3498db;
    text-decoration: none;
}