<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/login/login.png" sizes="64x64">
    <title>注册</title>
    <link rel="stylesheet" href="/static/login/login.css">
</head>
<body style="background-image: url('//api.yixiangzhilv.com/utils/wallpaper');">
    <div class="login-box">
        <h1>注册</h1>
        <div class="input-box">
            <form action="/register/" method="post">
                <div class="input-text">
                    <span><img src="/static/login/user.png"></span>
                    <input type="text" placeholder="用户名" name="username" autocomplete=off>
                </div>
                <div class="input-text">
                    <span><img src="/static/login/password.png"></span>
                    <input type="password" placeholder="密码" name="password" autocomplete=off>
                </div>
                {% for message in get_flashed_messages() %}
                <span style="color: rgb(255, 0, 0);">{{ message }}</br></span>
                {% endfor %}
                <input class="input-btn" type="submit" value="注册">
                <a href="/login/"><input class="input-btn" type="button" value="去登录"></a>
            </form>
        </div>
    </div>
</body>
</html>